.admin-container {
    display: flex;
  }
  
  .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .main-section {
    padding-left: 1vw;
    padding-top: 1vw;
    padding-right: 1vw;
    flex: 1;
  }

  .login-main-container {
    display: flex;
    min-width: 100vw;
  }

  .login-flex-container {
    flex: auto;
  }